---
title: Contact
date: 2024-02-22
layout: page
eleventyNavigation:
  key: main
  title: Contact  # as it will appear in the nav
  order: 4        # order to display in the nav
seo:
  title: Contact Us!
  description: Email us to find out more or join our next meeting 
---

Email words@belvoirwriting.co.uk to learn more about our group.

Meetings are held on the second Tuesday of every month in:
The Parish Room
The Old School 
Grantham Road 
Bottesford
Nottingham 
Leicestershire 
NG13 0DF

We'd love to hear from you, whether you've been writing for years or are just starting out.