---
title: Contact
date: 2024-02-22
layout: page
eleventyNavigation:
  key: main
  title: Contact  # as it will appear in the nav
  order: 4        # order to display in the nav
seo:
  title: Contact Us!
  description: Email us to find out more or join our next meeting 
---
<p>
Email **words@belvoirwriting.co.uk** to learn more about our group. We'll add your email to the list to receive updates on meeting dates, themes and other matters related to the group but please say if you'd prefer not receive these messages. You can unsubscribe at any time.
</p>
<p>
Meetings are held on the second Tuesday of every month in:
</p>
<p>
> The Parish Room
> The Old School 
> Grantham Road 
> Bottesford
> Nottingham 
> Leicestershire 
> NG13 0DF
</p>
<p>
We'd love to hear from you, whether you've been writing for years or are just starting out.
</p>