---
title: Contact
date: 2024-02-22
layout: page
eleventyNavigation:
  key: main
  title: Contact  # as it will appear in the nav
  order: 4        # order to display in the nav
seo:
  title: Contact Us!
  description: Email us to find out more or join our next meeting 
---

Email words@blevoirwriting.co.uk.

Meetings are held every month in the Parish Room, The Old School, Grantham Road, Bottesford, Nottingham, Leicestershire, NG13 0DF.